.headertitle{
	text-align: center;
}

.hr{
	display: flex;
	justify-content: space-between;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

.hr_title{
	font-size: 15px;
}

.hr_logout{
	font-size: 15px;
}

.all_messages{
	height:250px; 
	background: #fff; 
	border: 1px solid #C1C1C1; 
	overflow-y: scroll;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
	scroll-behavior: smooth;
}

.messageline{
	display: flex;
	justify-content: space-between;
	border-style: groove;
    padding: 5px;
    border-radius: 7px;
    font-size: 12px;
    font-style: oblique;
	font-weight: 500;
	font-family: DejaVu Sans Mono, monospace;
}

.messageline_left{
	width: 500px;
	padding: 3px;
	white-space: normal;
}

.deleteicon{
	height: 13px;
	width: 13px;
	margin-top: 3px;
	margin-right: 5px;
}

.likeicon{
	height: 13px;
	width: 13px;
	margin-top: 3px;
	margin-right: 5px;
	/*background: none;
	border-radius: 10px;
	transition: background 9999999s;*/
}

/*.likeicon:active{
	height: 13px;
	width: 13px;
	margin-top: 3px;
	margin-right: 5px;
	background: red;
	border-radius: 10px;
	transition: background 0s;
}*/

.send_message_button{
	color: #fff;
	background: #0080FF;
	padding: 10px;
	border-radius: 7px; 
	border: 1px solid #08f;
	cursor: pointer;
}

#common_text{
	width: 625px;
	height: 100px;
	border: 1px solid #000;
	border-radius: 5px;
}

.smiles{
	text-align: center;
}

.upload{
	text-align: center;
	cursor: pointer;
}

.smile{
	size: 20px;
	cursor: pointer;
}

.login{
	color: #333;
	background: #fff;
	padding: 10px;
	border: 1px solid #aaa;
	text-align: center;
}

.authorization_button{
	color: #fff;
	background: green;
	padding: 10px;
	border-radius: 4px; 
	border: 1px solid #08f;
	cursor: pointer;
}

.registrate_button{
	color: #fff;
	background: #08f;
	padding: 10px;
	border-radius: 4px; 
	border: 1px solid #08f;
	cursor: pointer;
}

a{
	color: #08f;
	text-decoration: none;
}